@import "../assets/fonts/fonts.css";
@import "../assets/helpers/_variables.scss";
@import "../assets/helpers/_mixin.scss";
@import "../assets/css_components/_header";
@import "../assets/css_components/searcher";
@import "../assets/css_components/_footer";
@import "../assets/css_components/_bottom-footer";
@import "../assets/css_components/components";
@import "../assets/css_components/main-page-css/intro";
@import "../assets/css_components/product-item-component";
@import "../assets/css_components/main-page-css/stocks";
@import "../assets/css_components/main-page-css/novelties";
@import "../assets/css_components/main-page-css/offers";
@import "../assets/css_components/main-page-css/branch";
@import "../assets/css_components/main-page-css/articles";
@import "../assets/../pages/catalog-page/catalog-page-css/main_catalog";
@import "../assets/../pages/catalog-page/catalog-page-css/product_pict";
@import "../assets/../pages/form-page/form-page-css/form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px Rubik;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}