@import "../assets/fonts/fonts.css";
@import "../assets/helpers/variables";
@import "../assets/helpers/mixin";
@import "../assets/css_components/header";
@import "../assets/css_components/intro";
@import "../assets/css_components/stocks";
@import "../assets/css_components/novelties";
@import "../assets/css_components/offers";
@import "../assets/css_components/branch";
@import "../assets/css_components/articles";
@import "../assets/css_components/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px Rubik;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1208px;
  margin: 0 auto;
}

.section__title {
  @include text_styles(40px, 36px, 700, $black);
}

.arrow {
  cursor: pointer;
}

.-right {
  transform: rotate(270deg);
}

.-left {
  transform: rotate(90deg);
}

.chevrons-left {
  transform: rotate(180deg);
}

.basket-btn {
  max-width: 256px;
  padding: 12px 95px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $green;
  cursor: pointer;
  @include text_styles(0, 18px, 400, $green);
  transition: .4s ease-in-out;

  &:focus, &:hover {
    background: $orange;
    color: #fff;
    border: 1px solid $orange;
  }
}

.basket-btn-light {
  padding: 12px 80px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $orange;
  cursor: pointer;
  @include text_styles(0, 18px, 400, $orange);
  transition: .4s ease-in-out;
  background: $light-orange;
}

.hide {
  display: none;
}

.show-all {
  @include text_styles(0, 16px, 400, $darkGrey);
  text-decoration: none;
  position: absolute;
  top: 12px;
  right: 0;
  transition: .3s linear;

  &:hover {
    opacity: .5;
  }
}

.favorite-btn {
  position: absolute;
  top: 0;
  right: 8px;
  display: block;
  cursor: pointer;
  padding: 5px;
  transition: .3s linear;
  border-radius: 3px;

  &:hover {
    background: $orange;
  }
}

.stock {
  position: absolute;
  top: 40%;
  left: 8px;
  background: $orange;
  width: 56px;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}

.item-product {
  position: relative;
  max-width: 272px;
  border-radius: 4px;

  & .product__content {
    padding: 0 8px 8px;
  }

  & .product__price {
    margin: 8px 0;
    @include flex(flex, space-between, center);

    & .default__price {
      @include text_styles(0, 16px, 400, $darkGrey)
    }

    & p {
      @include text_styles(0, 12px, 400, $gray);
    }
  }

  & .product__title {
    @include text_styles(8px, 16px, 400, $black);
  }

  & .product-stars {
    display: flex;
    margin-bottom: 8px;

    & .stars__star {
      clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
      background: $gray;
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }

    & .star__active {
      background: $orange;
    }
  }

  & .basket-btn {
    padding: 12px 0;

    &:hover ~ .item-product {
      background: #000;
      box-shadow: 40px 80px 160px rgba(255, 102, 51, 0.2);
    }
  }
}

.section__content {
  @include flex(flex, space-between, center);
  flex-wrap: wrap;
}

