@import "../assets/fonts/fonts.css";
.header .header__account .account__authorized {
  display: flex;
  justify-content: start;
  align-items: center;
  display: none;
}
.header .header__account .account__btn {
  background: #FF6633;
  padding: 8px 20px 8px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: 1px solid #FF6633;
}
.header .header__account .account__btn:hover {
  background: #FCD5BA;
  color: #FF6633;
}
.header .header__account .btn__log-in {
  margin-left: 35px;
}
.header .header__account span {
  margin: 0 23px 0 10px;
}
.header .sign-in-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(252, 213, 186, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .sign-in-modal .section__title {
  font-size: 24px;
}
.header .sign-in-modal .sign-in-modal__dialog {
  z-index: 3;
  padding-top: 72px;
  flex-direction: column;
  width: 420px;
  height: 430px;
  background: #fff;
  text-align: center;
}
.header .sign-in-modal .sign-in-modal__dialog .dialog__container {
  max-width: 260px;
  margin: 0 auto;
}
.header .sign-in-modal .sign-in-modal__dialog .basket-btn-light {
  margin-top: 32px;
  padding: 20px 0;
  width: 100%;
  font-size: 24px;
}
.header .sign-in-modal .sign-in-modal__dialog .dialog__bottom_content {
  margin-top: 32px;
  display: flex;
  width: 100%;
}
.header .sign-in-modal .sign-in-modal__dialog .basket-btn {
  width: 50%;
  padding: 7px 20px;
  font-size: 12px;
  margin-right: 24px;
}
.header .sign-in-modal .sign-in-modal__dialog .bottomContent__passwordLink {
  width: 50%;
  font-size: 12px;
  color: #606060;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .sign-in-modal .sign-in-modal__dialog .dialog__inputLable {
  text-align: start;
  font-size: 18px;
  color: #8f8f8f;
}
.header .sign-in-modal .sign-in-modal__dialog .dialog__phone-input-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #70C05B;
  width: 100%;
  height: 60px;
  outline: none;
}
.header .sign-in-modal .sign-in-modal__dialog #phone__select {
  height: 80%;
  max-width: 34%;
  outline: none;
  padding-left: 16px;
  margin-right: 4px;
  border: none;
  font-size: 16px;
}
.header .sign-in-modal .sign-in-modal__dialog #phone__select option {
  font-size: 16px;
}
.header .sign-in-modal .sign-in-modal__dialog .phone__input {
  border: none;
  outline: none;
  width: 66%;
  height: 80%;
  font-size: 16px;
  padding: 0 4px 0 16px;
  margin-right: 4px;
  border-left: 2px solid #70C05B;
}

.header {
  margin: 15px 0;
}
.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header .header__logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 40px;
}
.header .header__logo .logo__img {
  margin-right: 15px;
  cursor: pointer;
}
.header .header__logo a {
  color: #414141;
  font-weight: 700;
  font-size: 14px;
}
.header .header__catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #70C05B;
  padding: 11px 16px 11px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 16px;
  border: 1px solid #70C05B;
  transition: 0.4s ease-in-out;
}
.header .header__catalog:hover {
  background: #E5FFDE;
  border: 1px solid #70C05B;
}
.header .header__catalog:hover p {
  color: #70C05B;
}
.header .header__catalog:hover .catalog__burger, .header .header__catalog:hover .catalog__burger:before, .header .header__catalog:hover .catalog__burger:after {
  background: #70C05B;
}
.header .header__catalog .catalog__burger {
  margin-right: 23px;
  position: relative;
  width: 19px;
  height: 1px;
  background: #fff;
  transition: inherit;
}
.header .header__catalog .catalog__burger:before, .header .header__catalog .catalog__burger:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 1px;
  background: #fff;
  transition: inherit;
}
.header .header__catalog .catalog__burger:before {
  top: -5px;
}
.header .header__catalog .catalog__burger:after {
  bottom: -5px;
}
.header .header__catalog p {
  color: #fff;
  font-size: 16px;
  transition: 0.4s ease-in-out;
}
.header .header__search {
  width: 375px;
  margin-right: 40px;
  padding: 7px 16px;
  border: 1px solid #70C05B;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__search .search__input {
  padding: 4px 0;
  border: none;
  outline: none;
  color: gray;
  width: 85%;
}
.header .header__search .search__img {
  cursor: pointer;
}
.header .header__menu {
  margin-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__menu .menu__item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-right: 24px;
}
.header .header__menu img {
  height: 20px;
}
.header .header__menu a {
  margin-top: 10px;
  color: #414141;
  font-size: 12px;
}
.header .header__menu a:hover {
  color: #FF6633;
}

.intro {
  margin: 5px 0 80px;
  background-image: url("../assets/images/intro.svg");
  width: 100%;
  height: 200px;
}
.intro .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.intro h1 {
  font-size: 48px;
  font-weight: 700;
}

.stocks .container {
  position: relative;
}

.novelties {
  margin: 100px 0;
}
.novelties .container {
  position: relative;
}

.offers {
  margin: 70px 0;
}
.offers .offers__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.offers .offers__content .content__left {
  padding: 8px 0 0 40px;
  max-width: 584px;
  max-height: 200px;
  background: #FCD5BA;
  display: flex;
  border-radius: 4px;
  margin-bottom: 30px;
  overflow: hidden;
}
.offers .offers__content .content__right {
  position: relative;
  padding: 11px 0 0 40px;
  max-width: 584px;
  max-height: 200px;
  background: #E5FFDE;
  display: flex;
  border-radius: 4px;
  margin-bottom: 30px;
}
.offers .offers__content .content__right .content__text {
  margin-right: 10px;
}
.offers .offers__content .content__text {
  max-width: 258px;
  margin-right: 21px;
}
.offers .offers__content .text__title {
  font-size: 24px;
  margin: 22px 0 6px 0;
}
.offers .offers__content p {
  width: 100%;
  font-size: 16px;
  color: #414141;
}
.offers .offers__content .left__soap {
  cursor: pointer;
  animation: rotating 2s linear infinite;
}
.offers .offers__content .left__soap:hover {
  animation: none;
}
.offers .offers__content .right__star {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  left: 35%;
  animation: rotating 2s ease-in-out infinite;
}
.offers .offers__content .second {
  bottom: 15px;
  left: 15px;
  top: auto;
}
.offers .offers__content .right__basket {
  animation: upDown 2s ease-in-out infinite;
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(5px);
  }
  66% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(-28deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

.branches {
  margin-bottom: 100px;
}
.branches .branches__location-content {
  display: flex;
  flex-wrap: wrap;
}
.branches .branches__location-content #map {
  height: 354px;
  width: 100%;
}
.branches .branches__location-content .location-content__item {
  background: #F3F2F1;
  font-size: 14px;
  padding: 8px 12px 6px;
  border-radius: 4px;
  margin-right: 24px;
  transition: 0.3s ease-in-out;
  margin-bottom: 24px;
}
.branches .branches__location-content .location-content__item:hover {
  background: #70C05B;
}
.branches .branches__location-content .location-content__item:hover a {
  color: #fff;
}
.branches .branches__location-content a {
  color: #606060;
  text-align: center;
}

.articles {
  margin-bottom: 120px;
}
.articles .articles__content {
  display: flex;
}
.articles .articles__content .content__item {
  position: relative;
  padding-bottom: 10px;
  max-width: 376px;
  height: 420px;
  margin-right: 40px;
}
.articles .articles__content .item__text {
  padding: 10px;
}
.articles .articles__content .text__date {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #8f8f8f;
}
.articles .articles__content .text__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #414141;
}
.articles .articles__content .text__main {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #414141;
}
.articles .articles__content .basket-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 150px;
  padding: 12px 0;
  background: #E5FFDE;
  border: none;
}
.articles .articles__content .basket-btn:hover {
  background: #70C05B;
}
.articles .articles__content .basket-btn:hover a {
  color: #fff;
}
.articles .articles__content a {
  color: #70C05B;
}

.footer {
  background: url("../assets/images/footerBG.svg") #F9F4E2;
  padding: 24px 0 48px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__design {
  position: absolute;
  bottom: -30px;
  right: 0;
}
.footer .footer__content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer__content .content__item {
  margin-right: 40px;
}
.footer .footer__content a {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  color: #414141;
}
.footer .footer__media {
  display: flex;
}
.footer .footer__media .media__item {
  display: flex;
  flex-wrap: wrap;
  margin-left: 45px;
}
.footer .footer__media .media__item img {
  display: block;
  margin-right: 10px;
}
.footer .footer__media .item__number {
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px Rubik;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1208px;
  margin: 0 auto;
}

.section__title {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  color: #414141;
}

.arrow {
  cursor: pointer;
}

.-right {
  transform: rotate(270deg);
}

.-left {
  transform: rotate(90deg);
}

.chevrons-left {
  transform: rotate(180deg);
}

.basket-btn {
  max-width: 256px;
  padding: 12px 95px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #70C05B;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  color: #70C05B;
  transition: 0.4s ease-in-out;
}
.basket-btn:focus, .basket-btn:hover {
  background: #FF6633;
  color: #fff;
  border: 1px solid #FF6633;
}

.basket-btn-light {
  padding: 12px 80px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #FF6633;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  color: #FF6633;
  transition: 0.4s ease-in-out;
  background: #FCD5BA;
}

.hide {
  display: none;
}

.show-all {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
  text-decoration: none;
  position: absolute;
  top: 12px;
  right: 0;
  transition: 0.3s linear;
}
.show-all:hover {
  opacity: 0.5;
}

.favorite-btn {
  position: absolute;
  top: 0;
  right: 8px;
  display: block;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s linear;
  border-radius: 3px;
}
.favorite-btn:hover {
  background: #FF6633;
}

.stock {
  position: absolute;
  top: 40%;
  left: 8px;
  background: #FF6633;
  width: 56px;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}

.item-product {
  position: relative;
  max-width: 272px;
  border-radius: 4px;
}
.item-product .product__content {
  padding: 0 8px 8px;
}
.item-product .product__price {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-product .product__price .default__price {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
}
.item-product .product__price p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  color: #8f8f8f;
}
.item-product .product__title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #414141;
}
.item-product .product-stars {
  display: flex;
  margin-bottom: 8px;
}
.item-product .product-stars .stars__star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background: #8f8f8f;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.item-product .product-stars .star__active {
  background: #FF6633;
}
.item-product .basket-btn {
  padding: 12px 0;
}
.item-product .basket-btn:hover ~ .item-product {
  background: #000;
  box-shadow: 40px 80px 160px rgba(255, 102, 51, 0.2);
}

.section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=index.css.map */
