.window_catalog_content{
    padding: 40px 116px 0 0;
    display: none;
    flex-wrap: wrap;
    justify-content: left;
  
}
.window_catalog_content a{
    width: 260px;    
    margin-bottom:24px ;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #414141;
}

.window_catalog_content a:hover{
    color: #FF6633;;
}