.footer {
  background:url("../assets/images/footerBG.svg") #F9F4E2;
  padding: 24px 0 48px;

  & .container {
    @include flex(flex, space-between, center);
  }

  & .footer__design {
    position: absolute;
    bottom: -30px;
    right: 0;
  }

  & .footer__content {
    @include flex(flex, start, center);
    flex-wrap: wrap;

    & .content__item {
      margin-right: 40px;
    }

    & a {
      @include text_styles(0, 12px, 400, $black);
    }
  }

  & .footer__media {
    display: flex;

    & .media__item {
      display: flex;
      flex-wrap: wrap;
      margin-left: 45px;

      & img {
        display: block;
        margin-right: 10px;
      }
    }

    & .item__number {
      margin-left: 10px;
    }
  }
  
}