.intro {
  margin: 5px 0 80px;
  background-image: url("../assets/images/intro.svg");
  width: 100%;
  height: 200px;

  & .container {
    @include flex(flex, space-evenly, center);
  }

  & h1 {
    font-size: 48px;
    font-weight: 700;
  }
}