.header .header__search__content {
  position: relative;
  border: 1px solid $green;
  margin-right: 30px;
  max-width: 375px;

  & .header__search {
    width: 375px;
    padding: 7px 16px;
    border-radius: 4px;
    @include flex(flex, space-between, center);

    & .search__input {
      font-size: 16px;
      color: $black;
      padding: 4px 0;
      border: none;
      outline: none;
      width: 85%;
    }

    & .search__img {
      cursor: pointer;
    }

  }

  & .content__list {
    left: -1px;
    position: absolute;
    width: 100.6%;
    border-right: 1px solid $green;

    & >:last-of-type {
      border-bottom:1px solid $green;
      font-size: 16px;
    }

    & .list__item {
      border-left: 1px solid $green;
      padding: 7px 16px;
      z-index: 3;
      width: 100%;
      background: #fff;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .header {

    & .menu {
      display: none;
    }

    & .header__search__content {
      margin-right: 15px;
    }
  }
}

@media (max-width:560px ) {
  .header__account {
    display: none;
  }

  .header .header__search__content {


    & .header__search {
      max-width: 400px;
      min-width: 300px;
      width: auto;
    }
  }

}